---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main id="main">
        <div class="card text-bg-danger">
			<div class="card-header">
			  About Our Club !
			</div>
			<div class="card-body">
			  <p class="card-text"></p>
			</div>
		  </div>
	</main>
</Layout>