---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Join">
	<main id="main">
        <div class="card text-center text-bg-danger" style="max-width: 60%; max-height: 80%;">
			<div class="card-header">
				<h2>Join Us!</h2>
			</div>
			<div class="card-body">
			  	<p class="card-text">If you are Ilia state university student and want to join our club follow link bellow !</p>
			  	<a href="https://docs.google.com/forms/d/1FoBbzpuuYJ7-Lbqv8kbEP4wbPyUzrJEUEAaeoHrA7Nc/viewform?edit_requested=true" class="btn btn-dark btn-lg">Register here !</a>
				<br />
				<br />
				<p class="card-text">Not a member of our university ? No worries ! You can join our discord server to not miss out on fun !</p>
				<a href="https://discord.gg/GVJvwUHm" class="btn btn-dark btn-lg">Join Discord here !</a>
			</div>
		  </div>
	</main>
</Layout>