---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Join">
	<main id="main">
        <div class="card text-center text-bg-danger" style="width: 60%;">
			<div class="card-header">
				<h2>Join Us!</h2>
			</div>
			<div class="card-body">
			  <p class="card-text">If you are Ilia state university student and want to join our club follow link bellow !</p>
				<br/>
			  <a href="https://docs.google.com/forms/d/1FoBbzpuuYJ7-Lbqv8kbEP4wbPyUzrJEUEAaeoHrA7Nc/viewform?edit_requested=true" class="btn btn-dark btn-lg">Register here !</a>
			</div>
		  </div>
	</main>
</Layout>