---
import "bootstrap/dist/css/bootstrap.min.css";
---
<!-- Footer -->
<footer class="text-center text-lg-start text-muted border-top border-body">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/profile.php?id=100092313884938" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://discord.gg/GVJvwUHm" class="me-4 text-reset">
            <i class="fab fa-discord"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
                <a href="/" class="text-reset">Home</a>
            </p>
            <p>
                <a href="/about" class="text-reset">About Us</a>
            </p>
            <p>
                <a href="/history" class="text-reset">History</a>
            </p>
            <p>
                <a href="/join" class="text-reset">Join Us</a>
            </p>
            <p>
                <a href="/contact" class="text-reset">Contact Us</a>
            </p>
            <p>
                <a href="/resources" class="text-reset">Resources</a>
            </p>
            <p>
                <a href="/recommendations" class="text-reset">Recommendations</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="/">Iliauni-anime-club</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->